ion-slides{
    background-color: white;
    margin: auto;
    width: 90%;
    img{
        max-width: fit-content;
        width: 200%;
    }
}

.icon{
    background-color: #7ed957;
    color: white;
    border-radius: 30%;
}