<ion-content class="ion-padding">

    <ion-buttons>
        <ion-button routerLink="/veterinarias" >
            <ion-icon class="icon" name="arrow-back-outline" ></ion-icon>
        </ion-button>
    </ion-buttons>

    <ion-label class="titulos">
        <h1>{{datos.nombre_vet}}</h1>
    </ion-label>

    <ion-item>
            <ion-slides>
                <ion-slide *ngFor="let item of [1,2,3,4,5,6]">
                    <img [src]="datos.img" />
                </ion-slide>
            </ion-slides>
    </ion-item>
    <br>
    <ion-label class="ion-text-center">
        <div>
        <h2>{{datos.direccion}}</h2>
        <h2>{{datos.descripcion}}</h2>
        <h1 class="titulos">Contacto</h1>
        <h2>{{datos.telefono}}</h2>
        <h2>{{datos.correo}}</h2>
        <h1 class="titulos">Horario</h1>
        <h2>Desde: {{datos.hora1}} Hasta: {{datos.hora2}}</h2>
        <h1 class="titulos" >Horas disponibles</h1>
        <h2 >{{datos.horas}}</h2>
        </div>
        
    </ion-label>
</ion-content>
