<ion-content class="ion-padding">

    <ion-buttons>
        <ion-button color="success" routerLink="/veterinarias">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
    </ion-buttons>

    <ion-label class="ion-text-center">
        <h1>{{datos.nombre_vet}}</h1>
    </ion-label>

    <ion-item>
            <ion-slides>
                <ion-slide *ngFor="let item of [1,2,3,4,5,6]">
                    <img [src]="datos.img" />
                </ion-slide>
            </ion-slides>
    </ion-item>
    <br>
    <ion-label class="ion-text-center">
        <h2>{{datos.direccion}}</h2>
        <h3>{{datos.descripcion}}</h3>
    </ion-label>
</ion-content>
