ion-slides{
    background-color: white;
    margin: auto;
    width: 90%;
    img{
        max-width: fit-content;
        width: 200%;
    }
}

.icon{
    background-color: #7ed957;
    color: white;
    border-radius: 30%;
}

.horas{
    margin: auto;
    text-align: center;
    margin-top: 5%;
    color: #7ed957;
    font-weight: bolder;
    text-transform: lowercase;
}

.titulos{
    color: #7ed957;
    text-align: center;
}

.letras{
    color: black;
}