.logopetplus{
    max-width: 35%;
    margin: auto;
    display: block;
   }

.center {
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    display: block;
  }

  .center1 {
    justify-content: center;
    margin: 4px;
    text-align: center;
  }

.code{
  text-align: center;
  justify-content: center;
  margin: 4px;
  font-size: larger;
}