.logopetplus{
    max-width: 35%;
    margin: auto;
    display: block;
   }

.center {
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    display: block;
  }