<ion-menu  contentId="main" menuId="myMenu" side="start">
    <ion-header >
        <ion-toolbar color="success">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content color="success">
       <ion-menu-toggle *ngFor=" let item of menuItems" color="success">
        <ion-item color="success"
        button (click)="setTitle(item.title)" 
        [routerLink]="item.path" >
            <ion-icon [name]="item.icon" slot="start"></ion-icon>
            {{ item.title }}
        </ion-item>
       </ion-menu-toggle>
       <br>
       <div>
        <ion-img class="icon" src="assets/Logo_DuocUC.svg.png"></ion-img>
      <h1 class="footer"> <b> Versión 1.0, Diciembre ,2022</b>
    <b>(Actualizada)</b> </h1>
      </div>
    </ion-content>
</ion-menu>

<app-header [title]="title"></app-header>

<ion-router-outlet id="main">

</ion-router-outlet>