<ion-content class="texto">
  <div>
    <ion-img class="logopetplus" src="assets/your_vet_clinic-removebg-preview.png"></ion-img>
  </div>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="textp" size="12" size-md="10" size-lg="8" size-xl="6">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur molestias quod sint eveniet deserunt doloremque hic perspiciatis minus similique eius accusamus amet ea, quaerat recusandae laudantium, voluptates, velit consectetur libero!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde quo aspernatur eaque voluptas quos facilis sint labore earum, ea reiciendis corrupti aperiam facere assumenda. Non eum excepturi deleniti. A, tenetur?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellendus fugit nam nihil nulla nostrum cumque aut, repudiandae id dolore nisi doloremque quas soluta aperiam? Dolores necessitatibus modi aut deserunt!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam repellat, at voluptas autem nobis odio, dolor magni libero assumenda explicabo quasi similique ratione unde facilis corrupti perferendis hic quas totam?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur molestias quod sint eveniet deserunt doloremque hic perspiciatis minus similique eius accusamus amet ea, quaerat recusandae laudantium, voluptates, velit consectetur libero!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde quo aspernatur eaque voluptas quos facilis sint labore earum, ea reiciendis corrupti aperiam facere assumenda. Non eum excepturi deleniti. A, tenetur?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellendus fugit nam nihil nulla nostrum cumque aut, repudiandae id dolore nisi doloremque quas soluta aperiam? Dolores necessitatibus modi aut deserunt!
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>