<ion-content>
  <div>
    <ion-img class="logopetplus" src="assets/your_vet_clinic-removebg-preview.png"></ion-img>
  </div>
    <div>
    <h1 class="bienvenida" ><b>¡Bienvenid@!</b></h1>
    <h3 class="selecciona">Selecciona lo que deseas hacer:</h3>
    </div>
    <br>
    <div class="container-fluid">
      <ion-card class="card" href="/veterinarias">
        <ion-item color="success">
            <img class="imagen" src="/assets/refugio-de-animales.png">
          <ion-label class="letracards1"> <b>Buscar Veterinarias</b></ion-label>
        </ion-item>
      </ion-card>
      <ion-card class="card" href="/animales" >
        <ion-item color="success">
            <img class="imagen" src="/assets/veterinary(1).png" />
          <ion-label class="letracards1"> <b>Buscar Fichas</b></ion-label>
        </ion-item>
      </ion-card>
    </div>


    
</ion-content>
