
.card{
    margin: auto;
    width: 97%;
    border: 1px solid #3400c2;    
    margin-bottom: 2%;
    border-radius: 1ch;
    height: auto;
}

.justify{
    text-align: center; 
}

.letra1{
    color: #7ed957;
    text-align: center;
}

.titulo{
    color: white;
    text-align: center;
    margin: 5%;
    text-justify: auto;
}

.direccion{
    margin: 5%;
    color: #3400c2;
    text-align: center;
    text-justify: auto;
;
};

.descripcion{
    margin: 5%;
    text-align: center;
}


ion-avatar {
    --border-radius: 4px;
  }