<ion-content>
  <div>
    <h1 class="letra1 centrotxt" > <b>Busca la veterinaria que necesitas</b> </h1>
    <br>
  </div>
  

  <ion-grid>
    <div class="centrotxt">
      <ion-list class="list">
  <ion-item>
    <ion-select interface="popover" placeholder="Selecciona comuna">
      <ion-select-option value="apples">San Bernardo</ion-select-option>
      <ion-select-option value="oranges">El bosque</ion-select-option>
      <ion-select-option value="bananas">Ñuñoa</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
    </div>
    <br>   
      <ion-col size="1" size-sm="6" size-md="4" size-lg="3" size-xl="2" *ngFor="let veterinarias of todas">
        <ion-card class="card">
          <img class="imagenes" src="assets\veterinary.png">
          <ion-label>
              {{veterinarias.nombre_vet}}
              {{veterinarias.direccion}}
              {{veterinarias.descripcion}}
        </ion-label>
        </ion-card>
      </ion-col>

  </ion-grid>

  
</ion-content>