
.card{
    margin: auto;  
    width: 95%;
    height: auto;
    border: 1px solid #3400c2;    
    margin-bottom: 2%;
    border-radius: 1.8ch
    
}



.justify{
    text-align: center; 
}

.letra1{
    color: #7ed957;
    text-align: center;
}

.titulo{
    color: white;
    text-align: center;
    margin: 4%;
    text-justify: auto;
}

.direccion{
    margin: auto;
   color: #3400c2;
    text-align: center;
    text-justify: auto;
;
};

.descripcion{
    margin: auto;
    text-size-adjust: inherit;
    text-align: center;
}

.avatar{
    border-color: #3400c2;
}

