.imagenes{  
    width: 13%
}
.card{
    height: 20%;
    margin: auto;  
    width: 75%;
    border: 1px solid #7ed957;    
    justify-content: center;
}

.letra1{
    color: #7ed957;
}

.centrotxt{
    text-align: center;
}

.letras2{
    font-weight: bold;
    text-align: center;
}

.input{
    width: 30%;
    border-radius:5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.list{
    max-width: 40%;
    margin: auto;
    text-align: center;
}