<ion-content>
    <div>
      <h1 class="letra1 centrotxt" > <b>Busca la ficha de tu Pet</b> </h1>
    </div>
  <div class="centrotxt">
    <ion-item class="input" fill="solid">
      <ion-label position="floating">N°Ficha</ion-label>
      <ion-input [(ngModel)]="buscar_input" ></ion-input>
    </ion-item>
    <ion-button class="botonlistar2" shape="round" (click)="buscar()" (click)="showLoading()" type="button">Buscar</ion-button>
  </div>
  
  <div *ngIf="visible"> 
    <div class="itemAnimal" ><ion-item >
        <img class="imagen" src="assets\veterinary(2).png" >
        <ion-label><h1 class="letras1">{{nombreA}}</h1> 
                   <h1 class="letras1">{{nombreespecie }}</h1>
                   <h2 class="letras2">Microchip : {{n_microchip}}</h2>
                   <h2 class="letras2">Color: {{nombre_color}}</h2>
                   <h2 class="letras2">Sexo: {{nombre_sexo}}</h2>
                   <h2 class="letras2">Dueño: {{nombre_dueno}}</h2>
                   <h2 class="letras2">Estado: {{nombre_estado}}</h2>
                   <h2 class="letras2">Nacimiento: {{fecha_nac}}</h2>
        </ion-label>
      </ion-item>
    </div>
    
    <div class="itemAnimal" ><div>
        <h1 class="letra1 centrotxt2" > <b>Busca la los procedimientos de tu Pet</b> </h1>
      </div>
      <div class="centrotxt2">
          <ion-label position="floating">Con la Segunda clave (Asignada por tu Vet)</ion-label>
          <ion-input [(ngModel)]="buscar_input1" ></ion-input>
        <div>
          <table datatable [dtOptions]="dtoptions"  class="table table-dark" >
            <thead>
                <tr>
                    <th>
                      Clave
                    </th>
                    <th>
                      Fecha
                    </th>
                    <!-- <th>
                      Motivo
                    </th> -->
                    <th>
                      Peso
                    </th>
                    <th>
                      Obs.
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consuproce of segundalist">
                    <td>
                      {{consuproce.consulta_reserva_id_consulta_reserva_id}}
                    </td>
                    <td>
                      {{consuproce.fecha_pro}}
                    </td>
                    <!-- <td>
                      {{consuproce.motivo_consulta}}
                    </td> -->
                    <td>
                      {{consuproce.peso}}
                    </td>
                    <td>
                      {{consuproce.observaciones}}
                    </td>
                </tr>
            </tbody>
        </table>
        </div></div>
      
        <!-- <ion-button class="botonlistar2" shape="round" (click)="buscarproc()" >Buscar</ion-button> -->
        <!-- <ion-searchbar placeholder="Escribe tu segunda clave" (ionChange))="buscar ( $event )" animated="true"></ion-searchbar>
<ion-list>
        <ion-item  *ngFor="let consuproce of segundalist">
          <ion-label>
            <h1>
              {{consuproce.consulta_reserva_id_consulta_reserva_id}}
            </h1>
            <p>
              {{consuproce.fecha_pro}}
            </p>
            <p>
              {{consuproce.motivo_consulta}}
            </p>
            <p>
              {{consuproce.peso}}
            </p>
            <p>
              {{consuproce.observaciones}}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
       -->
      </div>
  </div>
</ion-content>
